.electrophoresis-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.electrophoresis-cell::before {
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    height: 150px;
    background-color: #FFF;
    z-index: 2;
}

.electrophoresis-cell {
    width: 850px;
    height: 850px;
    background-color: #C0C0C0;
    position: relative;
    border: 3px solid #000;
    border-radius: 5px;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.1) inset;
}

.buttons-container-1de {
    display: flex;
    flex-direction: row;  /* Changed from column to row */
    align-items: center;
    gap: 10px;            /* Spacing between items */
}


.wellCountLabel {
    position: relative;
    left: 175px;
    margin-bottom: 100px;
    font-weight: bold;
    font-size: 1.2em;
}

.wells-container {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 100px;
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.divider {
    width: 30px;
    height: 120px;
    background: linear-gradient(to top, #B0B0B0, #D0D0D0);
    position: relative; 
    top: -20px;
    box-shadow: 
        -5px 0px 10px rgba(0, 0, 0, 0.1), 
         5px 0px 10px rgba(0, 0, 0, 0.1),
        0px -5px 10px rgba(0, 0, 0, 0.1), 
        0px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px 5px 0 0;
}


.well {
    flex: 1;
    height: 100px;
    background: radial-gradient(circle at center, #FFF, #EEE 80%, #CCC 100%);
    box-shadow: 
        -10px 0px 15px rgba(0, 0, 0, 0.1), 
         10px 0px 15px rgba(0, 0, 0, 0.1), 
        0px -5px 10px rgba(0, 0, 0, 0.1), 
        0px 10px 20px rgba(0, 0, 0, 0.3);
    position: relative;
    border-radius: 5px 5px 0 0;
}

.well::before {
    content: '';
    position: absolute;
    top: -5px;
    left: 5%;
    right: 5%;
    height: 5px;
    background: linear-gradient(to bottom, rgba(255,255,255,0.8), transparent);
    border-radius: 50% 50% 0 0;
}



.button1de {
    padding: 10px 20px;
    background-color: royalblue;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.button1de:hover {
    background-color: #3259f3;
}

.button1de:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.acrylamide-gel {
    position: absolute;
    right: -210px;
    bottom: 10px;
    transform: translateX(-50%);
    width: 950px;
    height: 150px;
    background-color: #007BFF; /* Blue color for the gel */
    border-radius: 0 0 5px 5px; /* Make the bottom corners rounded */
    z-index: 1; /* Keep it below the wells */
}


