.electrophoresis-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 88vh;
    overflow: auto;
}

.electrophoresis-cell::before {
    content: "";
    position: absolute;
    left: 5%;
    right: 5%;
    height: 150px;
    background-color: #FFF;
    z-index: 2;
}

.electrophoresis-cell {
    flex-shrink: 0;
    width: 46em; /* Consider using max-width to contain this within the viewport */
    height: 46em;
    background-color: #C0C0C0;
    position: relative;
    border-top: none;
    border-left: 0.1875em solid #000;
    border-right: 0.1875em solid #000;
    border-bottom: none;
    border-radius: 5px;
    box-shadow: 0 0 0.9375em 0.1875em rgba(0, 0, 0, 0.1) inset;
    z-index: 3;
    left: 20.5em;
    top: -70em;
    overflow-y: scroll;
}

.electrophoresis-cell::-webkit-scrollbar {
    display: none;
}

.buttons-container-1de {
    position: relative;
    flex-shrink: 0;
    display: flex;
    gap: 1em;
    z-index: 2;         
}




.wells-container {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 100px;
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.wellInput:hover {
    cursor: pointer;
}

.divider {
    width: 30px;
    height: 120px;
    background: linear-gradient(to top, #B0B0B0, #D0D0D0);
    position: relative; 
    top: -20px;
    box-shadow: 
        -5px 0px 10px rgba(0, 0, 0, 0.1), 
         5px 0px 10px rgba(0, 0, 0, 0.1),
        0px -5px 10px rgba(0, 0, 0, 0.1), 
        0px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px 5px 0 0;
}


.well {
    flex: 1;
    height: 100px;
    background: radial-gradient(circle at center, #FFF, #EEE 80%, #CCC 100%);
    box-shadow: 
        -10px 0px 15px rgba(0, 0, 0, 0.1), 
         10px 0px 15px rgba(0, 0, 0, 0.1), 
        0px -5px 10px rgba(0, 0, 0, 0.1), 
        0px 10px 20px rgba(0, 0, 0, 0.3);
    position: relative;
    border-radius: 5px 5px 0 0;
}

.well::before {
    content: '';
    position: absolute;
    top: -5px;
    left: 5%;
    right: 5%;
    height: 5px;
    background: linear-gradient(to bottom, rgba(255,255,255,0.8), transparent);
    border-radius: 50% 50% 0 0;
}



.button1deadd, .button1dedrop {
    flex-shrink: 0;
    padding: 10px 20px;
    background-color: royalblue;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.typeFile, .submitUpload {
    position: relative;
    padding: 10px 20px;
    height: 3em;
    background-color: royalblue;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: .8em;
}

#uploaded {
    width: 15em;
}

.typeFile {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.typeFolder {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.submitUpload {
    border-radius: 5px;
}

.button1deadd:hover, .button1dedrop:hover, .uploadType:hover, .submitUpload:hover {
    background-color: #5e7bef;
}

.button1deadd:disabled, .button1dedrop:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.acrylamide-gel-top {
    flex-shrink: 0;
    position: relative;
    left: 17em;
    bottom: 118em;
    width: 53em;
    height: 9.375em;
    border: 3px solid #000;
    background-color: #a5cefc; 
    border-radius: 0 0 5px 5px; 
    z-index: 1; 
}

.acrylamide-gel-bottom {
    flex-shrink: 0;
    position: relative;
    left: 17em;
    bottom: 88em;
    width: 53em;
    height: 9.375em;
    border: 3px solid #000;
    background-color: #a5cefc; 
    border-radius: 0 0 5px 5px; 
    z-index: 1; 
}


.acrylamide-label {
    flex-shrink: 0;
    font-weight: bold;
    left: 17.5em;
    bottom: 89.6em;
    position: relative;
    z-index: 1;
    color: #000000;
}

.acrylamide-dropdown-section {
    position: relative;
    z-index: 1;
    padding: 10px 20px;
    background-color: royalblue;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.options-box {
    flex-shrink: 0;
    position: relative;
    top: 98em;
    left: -30em;
    width: 25em;
    height: 40em;
    border: 3px solid var(--highlight-color);
    background-color: var(--optionsbox-color); 
    border-radius: 0 0 5px 5px;
    padding: 15px;
    line-height: 2em;
}

#zoomText::-webkit-outer-spin-button,
#zoomText::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#zoomText {
    width: 30px;
}


.onede-box {
    position: relative;
    top: 74em;
    left: 0;
}

.uploadContainer {
    flex-shrink: 0;
    position: relative;
    padding-top: 10px;
    z-index: 2;
}

.upload{
    flex-shrink: 0;
    display: flex;
    position: relative;
    z-index: 2;
}

.uploadTypeContainer{
    flex-shrink: 0;
    position: relative;
    z-index: 2;
}

.wellCountLabel{
    flex-shrink: 0;
    position: relative;
    z-index: 2; 
    font-weight: bold;
    font-size: 1.2em;
    padding-top: 10px;
}

.acrylamide-percentage-label{
    flex-shrink: 0;
    position: relative;
    z-index: 2;
    font-weight: bold;
    font-size: 1.2em; 
    padding-top: 10px;
}

.voltage-value-label{
    flex-shrink: 0;
    position: relative;
    z-index: 2;
    font-weight: bold;
    font-size: 1.2em; 
    padding-top: 10px;
}

.voltage-dropdown-section {
    position: relative;
    z-index: 2;
    padding: 10px 20px;
    background-color: royalblue;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.wires {
    position: relative;
    top: -75em;
    left: 15em;
}

.redwire-image{
    flex-shrink: 0;
    position: relative;
    z-index: 2;
    width: 3.75em;
    top: 46em;
    left: 28.25em;
}

.blackwire-image{
    flex-shrink: 0;
    position: relative;
    z-index: 2;
    width: 3.75em;
    top: 6.5em;
    left: -25em;
}

.redwireextended-image{
    flex-shrink: 0;
    position: relative;
    z-index: 1;
    height: 50em;
    width: 60px;
    top: 38.75em;
    left: 32em;
}

.blackwireextended-image{
    flex-shrink: 0;
    position: relative;
    z-index: 1;
    width: 3.99em;
    top: 2em;
    left: -13.65em;
}

.blackwireextendedhorizontal-image{
    flex-shrink: 0;
    position: relative;
    z-index: 1;
    height: 22em;
    width: 3.99em;
    rotate: -90deg;
    top: 0.63em;
    left: 1em;
}

.redwireextendedhorizontal-image{
    flex-shrink: 0;
    position: relative;
    z-index: 1;
    height: 23em;
    width: 3.99em;
    rotate: -90deg;
    top: 1.13em;
    left: 32em;
}

.blackwireextendedmiddle-image{
    flex-shrink: 0;
    position: relative;
    z-index: 1;
    width: 3.99em;
    height: 10em;
    top: -5.4em;
    left: 24em;
}

.redwireextendedmiddle-image{
    flex-shrink: 0;
    position: relative;
    z-index: 1;
    height: 20em;
    width: 60px;
    top: -.4;
    left: 25em;
}

.voltage-label {
    flex-shrink: 0;
    font-size: 20px;
    font-weight: bold;
    top: -121.5em;
    left: 27.3em;
    position: relative;
    z-index: 1;
}

.onede-page-instructions-box {
    position: relative;
    top: -13em;
    left: -18em;
}

.control-buttons-container {
    position: relative;
    flex-shrink: 0;
    display: flex;
    gap: 30px;
    justify-content: center;
    z-index: 2;
  }
  
  .control-button {
    position: relative;
    padding: 10px 15px;
    background-color: #2253e7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .control-button:hover {
    position: relative;
    background-color: #5e7bef;
  }

  .control-button:disabled {
    background-color: #cccccc; /* Gray color for disabled state */
    color: #666666; /* Darker gray text to ensure readability */
    cursor: not-allowed; /* Change cursor to indicate the button is not clickable */
  }

  @keyframes initialMove {
    from { top: 100px; } /* Starting from the bottom of the well */
    to { top: calc(52.5% + 100px); } /* Move to 10% into the gel */
  }
  
  @keyframes moveProtein {
    from { top: calc(52.5% + 100px); }
    to { top: 680%; } /* Adjust as needed */
  }
  
  .proteinBand {
    position: absolute;
    width: 100%; /* or an appropriate width */
    height: 7px; /* or an appropriate height */
    background-color: blue; 
    z-index: 10;
    bottom: 0;
  }

  .protein-info {
    position: absolute; /* or 'fixed' depending on your layout */
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    z-index: 10;
    /* Other styling as needed */
  }

  .span-color {
    width: 150px;
    height: 10px;
    border: #000 2px solid;
    float: right;
    margin-top: .6em;
  }

  input[type=checkbox]:checked + label {
    font-weight: bold;
    text-decoration: underline;
  }

  input[type=checkbox]:not(:checked) ~ .span-color {
    opacity: 0;
  }
  
  .close-button {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 5px;
  }
  
  .protein-selection {
    position: relative;
    padding: 10px 0;
    z-index: 2;
  }

  ::-webkit-file-upload-button,
  ::file-selector-button {
    display: none;
  }

  .chart-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9); /* semi-transparent white */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
  }
  .close-chart {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
  }
