body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  /*Blue Theme*/
  /* --background-color: #f6f6f6;
  --foreground-color: #6f8ce4;
  --optionsbox-color: #a5cefc;
  --secondary-foreground-color: #7498c2;
  --icon-color: #f6f6f6;
  --icon-text-color:#0a0a0a;
  --icon-hover-color: #6f8ce4;
  --border-color: #36393e;
  --highlight-color: #6f8ce4;
  --primary-text-color: #0a0a0a;
  --secondary-text-color: royalblue;
  --toggle-bg: #f0eb9d;
  --toggle-fg: #ffd000; */

  /*Orange Theme*/
  --background-color: #f6f6f6;
  --foreground-color: #ff9f43;
  --optionsbox-color: #fbd38d;
  --secondary-foreground-color: #f7b76d;
  --icon-color: #f6f6f6;
  --icon-text-color: #0a0a0a;
  --icon-hover-color: #ff9f43;
  --border-color: #36393e;
  --highlight-color: rgb(185, 116, 19);
  --primary-text-color: #0a0a0a;
  --secondary-text-color: #e46e0d;
  --toggle-bg: #f0eb9d;
  --toggle-fg: #ffd000;
}

[data-theme="dark"] {
  /*Blue Theme*/
  /* --background-color: #36393e;
  --foreground-color: #282b30;
  --optionsbox-color: #282b30;
  --secondary-foreground-color: #1e2124;
  --icon-color:#7289da;
  --icon-text-color: #0a0a0a;
  --icon-hover-color: #f6f6f6;
  --border-color: #7289da;
  --highlight-color: #7289da;
  --primary-text-color: #f6f6f6;
  --secondary-text-color: #7289da;
  --toggle-bg: #283452;
  --toggle-fg: #00a6ff;
  --check: #ff0000; */

  /*Orange Theme*/
  --background-color: #36393e;
  --foreground-color: #282b30;
  --optionsbox-color: #ffbb55;
  --secondary-foreground-color: #ff8c23;
  --icon-color: #e46e0d;
  --icon-text-color: #0a0a0a;
  --icon-hover-color: #f6f6f6;
  --highlight-color: #ff8c00;
  --primary-text-color: #f6f6f6;
  --secondary-text-color: #e46e0d;
  --toggle-bg: #283452;
  --toggle-fg: #00a6ff;
}